.swiper-button-next,
.swiper-button-prev {
  color: white !important; /* blue-500 */
}

#root {
  margin: 0 auto;
  text-align: center;
}

body {
  
  background-color: #ffff;
}

*{font-family: "Nunito", sans-serif;
 
}
