@import "tailwindcss";

 #root,body{ font-family: "Inter", sans-serif;
} 
:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
